/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #1c5380 40%,#000000  0%,white 0%,white 100%);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.logoandlogin {
  display: inline-block;
  max-width:59%;

}

.phone {
  vertical-align: top;
  display: inline-block;
  max-width: 39%;
}

.main {
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/frame.png);
  width: 500px;
}

.homebuttonimage {
  display:inline;
}

button {
  background-color: #06365f;
}


/*.loginbutton {
  color: #06365f;
}*/

.buttons {
  display: inline;
}

#content {
  width: 40%;
  display: inline-block;
}
/*p {
  position: relative;
  display: inline-block;
}*/